body {
    font-family: 'Montserrat', sans-serif;
    background: #dddddd;
}

header {
    background: url(images/bg.jpg);
    padding: 20px 0;
}

.topo {
    position: relative;
    margin: 0 auto;
    width: 940px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff
}

nav a:hover {
    text-decoration: underline;
    color: #FFD700;
}

.not-underline {
    text-decoration: none;
}

#underline {
    text-decoration: underline;
}


main {
    margin: 0 25%;
}

form {
    margin: 40px auto;
}

.infos, form legend {
    display: block;
    margin: 30px 0 5px;
    font-size: 20px;
    text-align: center;
}

.input-padrao {
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    width: 50%;
}

.input {
    margin: 40px 0;

}

.forma-de-contato {
    display: block;
    margin: 20px 0 5px;
    font-size: 20px;
    text-align: center;
}

.horarios {
    display: block;
    text-align: center;
}

.checkbox {
    display: block;
    margin: 20px 0;
    text-align: center;
    color: #000000;
}

.enviar {
    display: block;
    margin: 0 auto;
    padding: 15px;
    width: 40%;
    font-weight: bold;
    font-size: 18px;
    border: none;
    transition: 1s all;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background: #FFD700;
}

.enviar:hover {
    transform: scale(1.02);
    background: #ff9900;
}

table {
    margin: 20px auto 40px auto;
    text-align: center;
}

thead {
    font-weight: bold;
    background: #555555;
    color: #000000;

}

td, th {
    padding: 15px 8px;
    border: 1px solid #000000;
}

footer{
    background: url(fbg.jpg);
    padding: 40px 0;
    text-align: center;
}

.copyright {
    margin: 20px;
    font-size: 13px;
    color: #000000;
}

@media (max-width: 940px) {
    .topo {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
        margin: 10px 0;
        text-align: center;
    }

    main {
        margin: 0;
    }
}